body {
  background-color: #BABABA;
  background-image: url('geothermal.jpeg');
  background-repeat: no-repeat;

}

.game-container {

  display: flex;

  flex-direction: column;
  align-items: center;
}

#canvasLife {
  border: 4px solid black;

  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
}


.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
}
.square {

  cursor: pointer;
  display: inline-block;
  border: 1px solid black;
  background-color: #B45002;
  height: 100%;
  width: 10%;
}
.filled {
  background-color: #7CC432;
}

.game-title {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-family: 'Sigmar One', cursive;
}


.cell-status-btn {
  border: 1px solid black;
  background-color: white;
  height: 50px;
  width: 100px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.control-btns {
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content: space-between;
  font-family: 'Amiko', sans-serif;
}

.cell-status-btn {
  line-height: 3.5;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 5px;
  background-color: #89E0E0;
}

/* speed slider */

.slider-container {
  background-color: #31A850;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 4px;

}

.speed-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.range-inputs {
  display: flex;
  flex-direction: row;
  padding: 5px;
  /*border: 1px solid black;*/
  width: 90%;
  margin: 0 auto;
}

.speed-slider {
    margin-right: 4px;

}

.speed-slider-value {
  max-width: 20px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 4px;
  background-color: inherit;
  border: none;
  text-align: center;
  color: black;
}

.speed-slider-title {
  text-align: center;
  padding: 5px;
}


.movement-btns {
  display: flex;
  flex-direction: row;
}
.effect-btns {
  display: flex;
  flex-direction: column;
}

.active-button {
  border: 2px solid #aef760;
}

.board-config {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  border-radius: 4px;
}

.board-size {
  margin-top: 5px;
  width: 147px;
  text-indent: 5px;
  border-radius: 4px;
  cursor: default;
}

.menu-btn {
  background-color: white;
  width: 150px;
  /*align-self: center;*/
  font-family: 'Amiko', sans-serif;
  background-color: #E48E76;
  border-radius: 4px;
  cursor: default;
}
