/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.5;
}
ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Main */

body {
  background-color: #BABABA;
  background-image: url('../images/geothermal.jpeg');
  background-repeat: no-repeat;

}

.game-container {

  display: flex;

  flex-direction: column;
  align-items: center;

}

#canvasLife {
  border: 4px solid black;

  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
}


.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
}
.square {

  cursor: pointer;
  display: inline-block;
  border: 1px solid black;
  background-color: #B45002;
  height: 100%;
  width: 10%;
}
.filled {
  background-color: #7CC432;
}

.game-title {
    display: block;
    font-size: 3em;
    margin-top: 0.67em;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-family: 'Sigmar One', cursive;
    color: #99C7F6;
    text-shadow: -3px 0 #3342e0, 0 3px #3342e0,
      3px 0 #3342e0, 0 -3px #3342e0
}


.cell-status-btn {
  cursor: pointer;
  border: 1px solid black;
  height: 50px;
  width: 100px;
  border-radius: 4px;
  text-align: center;
  line-height: 3.5;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  background-color: #89E0E0;
}
.control-btns {
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content: space-between;
  font-family: 'Amiko', sans-serif;
}


/* speed slider */

.slider-container {
  background-color: #31A850;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 4px;

}

.speed-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.range-inputs {
  display: flex;
  flex-direction: row;
  padding: 5px;
  /*border: 1px solid black;*/
  width: 90%;
  margin: 0 auto;
}

.speed-slider {
    margin-right: 4px;

}

.speed-slider-value {
  max-width: 20px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 4px;
  background-color: inherit;
  border: none;
  text-align: center;
  color: black;
}

.speed-slider-title {
  text-align: center;
  padding: 5px;
}


.movement-btns {
  display: flex;
  flex-direction: row;
}
.effect-btns {
  display: flex;
  flex-direction: column;
}

.active-button {
  border: 2px solid #f23a3a;

}

.board-config {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  border-radius: 4px;
}

.config-table-data {
  padding: 5px;
}

.shapes-label {
  color: #f93600
}

.sizes-label {
  color: #f2ff49
}

.board-size {
  margin-top: 5px;
  width: 150px;
  text-indent: 5px;
  border-radius: 4px;
  cursor: default;
  background-color: #f9f57c;
}



.menu-btn {
  background-color: white;
  width: 150px;
  /*align-self: center;*/
  font-family: 'Amiko', sans-serif;
  background-color: #E48E76;
  border-radius: 4px;
  cursor: default;
}


.project-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

}
/**/



.transparent-popover {
  height: 100%;
  width: 100%;
  /*display: transparent;*/
  background-color: black;
  opacity: .5;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 40;
}

.hidden-popover {
  display: none;
}

.hidden-instructions {
  display: none;
}

.popover-launcher {
  background-color: #b3f9c7;
  cursor: pointer;
  width: 150px;
  height: 25px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 4px;
  text-align: center;
  padding: 5px;
  margin-right: 10%;
  border: 4px solid #3DBD94;
  font-family: Amiko;
}

.github-link {
  margin-right: 4px;
}

.x-button {
  cursor: pointer;
  height: 25px;
  width: 25px;
  border: 1px solid grey;
  text-align: center;
  line-height: 25px;
  border-radius: 50px;
  align-self: flex-end;
  /*margin-top: 15px;
  margin-right: 15px;*/
}

.close-button {
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid black;
}

.controls-item {
  /*overflow-wrap: break-word;*/
}
.instructions-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  z-index: 50;
  position: fixed;
  top: 2%;
  /*left: 43%;*/
  border-radius: 4px;
  padding: 15px;
  width: 65%;
  height: 92%;
  font-family: Amiko;
}

.instructions-description {
    margin-bottom: 8px;
    text-align: center;
    width: 75%;
}


.rules-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 70%;
  margin-bottom: 10px;
}

.rules-list {
  list-style-type: decimal;
}

.controls-list {
  list-style-type: disc;
}
.controls-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 70%;
  margin-bottom: 10px;
}

.lucky-message {
  margin-top: 10px;
  margin-bottom: 4px;
}
.instructions-heading {
  display: block;
  font-size: 2em;
  /*margin-top: 0.2em;*/
  margin-bottom: 0.1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.instructions-label {
  text-align: center;
  font-weight: 700;
}

.petri-dish {
  align-self: flex-start;
  top: 7%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.cell-picture {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.credits {


  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10%;
  background-color: #0cb24e;
  border-radius: 4px;

  border: 4px solid #007BA9;
  font-family: 'Amiko';
}

.credits-info {
  display: flex;
  flex-direction: row;

}

.icon-list {
  display: flex;
  flex-direction: column;
}

.links-list {
  display: flex;
  flex-direction: column;
}


.credit-icon {
  margin-right: 12px;
}

.credit-link {
  padding: 15px;
}

.linkedin-link {
  text-indent: 7.5px;
}

.author-heading {
  margin-bottom: 7px;
  padding: 10px;
}
